@media (max-width: 1200px) {
  .projects {
    .tiles {
      grid-template-columns: 1fr 1fr;
    }
  }
  .my-story {
    .title {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .navigation {
    .list-item {
      display: none;
    }
    .go-home {
      display: inline-block;
    }
  }
  .landing-page {
    .intro {
      .container {
        justify-content: center;
        text-align: center;
      }
      h1 {
        font-size: 3rem;
      }
      p {
        span {
          display: block;
          padding: 0.3rem 0;
        }
        .line {
          display: none;
        }
      }
      .call-to-action {
        display: block;
        margin: 1rem 0;
      }
    }
  }
  .secondary-navigation {
    .container {
      height: auto;
      .nav-list {
        display: block;
        margin-top: 1rem;
      }
      .nav-item {
        i {
          font-size: 4rem;
        }
      }
    }
    .close {
      z-index: 3;
    }
  }
  .projects {
    .side-navigation {
      display: none;
    }
    .batch {
      text-align: center;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .tiles {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 700px) {
  .header {
    h1 {
      font-size: 1.3rem;
    }
  }
  .my-story {
    .title {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .body {
      p {
        font-size: 1.2rem;
      }
    }
  }
  .contact-me {
    padding: 3rem 0;
    h1 {
      font-size: 1.8rem;
    }

    .container {
      display: block;
    }
    form,
    .other-ways {
      padding: 0;
    }
  }
  .contact-me {
    .other-contacts {
      p {
        .copy-btn {
          display: inline-block;
          padding: 1rem;
          position: absolute;
          right: 0;
          cursor: pointer;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .my-story {
    .title {
      h1 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .body {
      p {
        font-size: 1rem;
      }
    }
  }
  .secondary-navigation {
    transform: translate3d(0, -120%, 0);
    .container {
      height: auto;
      .nav-list {
        display: block;
        margin-top: 1rem;
      }
      .nav-item {
        i {
          font-size: 4rem;
        }
      }
    }
    .close {
      z-index: 3;
    }
    overflow: auto;
  }
  .show {
    transition: transform 300ms ease-in;
    transform: translate3d(0, 0, 0);
    .nav-item {
      transition: transform 350ms ease-in;
      @for $x from 1 to 6 {
        &:nth-child(#{$x}) {
          transition-delay: $x * 350ms;
        }
      }
      transform: translate3d(0, 0, 0);
    }
  }
}
